<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome {{ username }} to {{ title }}!
    </h1>
</div>
<section>
    <article *ngIf="!username">
        <app-username
                (usernameEmitter)="sendingUsername($event)"
        ></app-username>
    </article>
    <div class="d-flex flex-justify-around" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <article *ngIf="username">
        <app-game  (scoreEmitter)="sendingScore($event)">

        </app-game>
    </article>
</section>
<footer>
    <h2 class="scores" (click)="launchModalBestScore()">See best scores</h2>
</footer>
<router-outlet></router-outlet>
